@charset "UTF-8";
section#conteudo{
    width: 1000px;
    margin: auto;

}
img#foto-dofla{
    width: 500px;
    height: 280px;


}
iframe#flame-specs{
    width:380px ;
    height: 280px;
    margin: 46px 120px 0px 0px;
    border: none;
    float: right;

}
